*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* cabeçalho */

  .logo{
      float: left;
      padding-left: 92px;
      padding-top: 40px;
  }
  .titulo{
      float: left;
      padding-left: 20px;
      padding-top: 130px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16pt;
  }

  .links{
    position: absolute;
      padding-left: 35%;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 16pt;
  }

.titulo:hover{
  color: #91c500;
}

  .areabotao{
      padding-top: 5.5%;
      padding-left: 80%;
      position: absolute;
      float: left;
  }
  .carrinho{
    padding-top: 5%;
  padding-right: 3%;
  float: right;
  }

.botao1{
  height: 28px;
  width: 98px;
  margin-top: 38px;

}
.botao2{
  height: 28px;
  width: 98px;
  margin-top: 5px;
  
}


/* cards */

.botao-compra{
  border: none;
}
.compra{
  cursor:pointer;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: #f0eddb;
  padding-bottom: 20px;
}

.texto-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  background-color: #f0eddb;
}

.preco {
  font-family: "Suez One", serif;
  font-size: 16pt;
  color: #041014;
  text-align: center;
  background-color: #f0eddb;
  cursor: default;
}

.card_roupa {
  max-height: max-content;
  width: 100%;
  background-color: #f0eddb;
}

.divisor_cat {
  height: 50px;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
  letter-spacing: 1pt;
}

.site-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: normal;
}

.headerimg {
  align-self: center;
}

.imagem {
  max-width: 100%;
}

/* rodape */

.container_rodape {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.rodape {
  background-color: #f0eddb;
  padding: 70px 0;
}
.colunas_rodape {
  width: 20%;
  padding: 0 15px;
}
.colunas_rodape h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
  text-align: center;
  cursor: default;
}
.colunas_rodape h3 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: black;
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
  text-align: center;
}
.colunas_rodape h2 {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 200;
}
.colunas_rodape ul li:not(:last-child) {
  margin-bottom: 10px;
}
.colunas_rodape ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 400;
  color: black;
  display: block;
  transition: all 0.3s ease;
  text-align: center;
}
.colunas_rodape ul li a:hover {
  color: #91c500;
}

@media (max-width: 767px) {
  .colunas_rodape {
    width: 50%;
    padding-bottom: 30px ;
  }
}
@media (max-width: 574px) {
  .colunas_rodape {
    width: 100%;
  }
}


/* fonts */

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 300;
  position: relative;
  text-align: center;
  cursor: default;
  background-color: white;
}

br {
  display: block;
  margin: 5px 0;
}

a{
  text-decoration: none;
  color: black;
}

/* reviews */

.reviews_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #CDD4BA;
}

.avatar{
  margin-left: 10px;
  margin-top: 10px;
  height: 257px;
  width: 257px;
}

.comment{
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 10px;
  width: 270px;
  height: 309px;
  background-color: #f2f3f0;
}

.comment_txt{
  margin: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
}
