
.header__space {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(43, 41, 40);
}

.header__text {
    font-size: .8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #B7B7B7;
}
